
<!-- ======= Header ======= -->
<header id="header" class="fixed-top pt-3">
  <div class="container d-flex align-items-center">

    <!--<h1 class="logo mr-auto"><a href="index.html">MUKTA-INFOTECH</a></h1>-->
  <img class="logo mr-auto" src="assets/logo.jpg" class="img-fluid" alt="logo" style="width:30%; height:auto">
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="courses">Courses</a></li>
        <li><a routerLink="trainer">Trainer</a></li>
        <!--<li><a routerLink="#">Event</a></li>
        <li><a routerLink="#">Course Fee</a></li>-->
        <li><a routerLink="contact">Contact</a></li>
               
      </ul>
    </nav><!-- end.nav-menu -->

   <!-- <a href="Ragistration.html" class="get-started-btn">Register Now</a>-->
   <li><a routerLink="ragister" class="get-started-btn">Ragister</a></li> 
  </div>
</header><!-- End Header -->

  
  
  <router-outlet></router-outlet>