<p>about works!</p>
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>About Us</h2>
      <!--<p >One of the largest Technical Education and training institutes in Shegaon region.</p>-->
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

     <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <!--<img src="assets/img/about.jpg" class="img-fluid" alt="">-->
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Mukta Infotech </h3>
          <p class="font-italic text-justify">
            Founded in 2015, Mukta Infotech continues its mission through quality training at affordable fee structure. Our uniquely designed and comprehensive curriculum makes our students an employable and future ready.
          Creating a knowledge-led economy and knowledge-based societies in the world is a key to survival and development of people in the emerging knowledge era.The wide Spread network of our centers is the mark of quality education, training that serve the Information Technology needs of the students and the industry.
          We Provide Training on Following :
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> MS-CIT</li>
            <li><i class="icofont-check-circled"></i> KLiC DIPLOMA</li>
            <li><i class="icofont-check-circled"></i> Typing Course</li>
            <li><i class="icofont-check-circled"></i> Success (Eglish Speaking)</li>
          </ul>
          <!--<p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>-->
          <a href="about.html" class="learn-more-btn">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1232</span>
          <p>Students</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">64</span>
          <p>Courses</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">42</span>
          <p>Events</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">15</span>
          <p>Trainers</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->
  <app-footer></app-footer>
  <router-outlet></router-outlet>
  