

  <section id="about" class="about">

    <h1 style="text-align: center; padding: 5px;">About Us</h1>
    <div class="container" data-aos="fade-up">
      

     <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <!--<img src="assets/img/about.jpg" class="img-fluid" alt="">-->
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Mukta Infotech </h3>
          <p class="font-italic text-justify">
            Founded in 2015, Mukta Infotech continues its mission through quality training at affordable fee structure. Our uniquely designed and comprehensive curriculum makes our students an employable and future ready.
          Creating a knowledge-led economy and knowledge-based societies in the world is a key to survival and development of people in the emerging knowledge era.The wide Spread network of our centers is the mark of quality education, training that serve the Information Technology needs of the students and the industry.
          We Provide Training on Following :
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> MS-CIT</li>
            <li><i class="icofont-check-circled"></i> KLiC DIPLOMA</li>
            <li><i class="icofont-check-circled"></i> Typing Course</li>
            <li><i class="icofont-check-circled"></i> Success (Eglish Speaking)</li>
          </ul>
          <!--<p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>-->
          <a href="about.html" class="learn-more-btn">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1232</span>
          <p>Students</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">64</span>
          <p>Courses</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">42</span>
          <p>Events</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">15</span>
          <p>Trainers</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->
  
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose MUKTA-INFOTECH?</h3>
            <p>
                
          <ul>
            <li> World Class Education Quality</li>
            <li>  Expertise Guidence</li>
            <li> Govt. Approved Certification</li>
            <li> Practical Exam At Regular Interval</li>
            <li>font-check-circled" 100% Job Assitance</li>
            
          </ul>
            
            <div class="text-center">
              <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>MS-CIT</h4>
                  <p class="text-justify">MS-CIT is an Information Technology (IT) literacy course started by MKCL in the year 2002. It has made more than 1 crore learners IT literate till date. It is the most popular IT Literacy course in Maharashtra.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>KLiC DIPLOMA</h4>
                  <p class="text-justify">MKCL offers learners the opportunity to select any KLiC Course of their choice which are mapped to industry roles. Learners can take admission for KLiC Courses in any KLiC/MS-CIT ALC of their choice.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Typing Course</h4>
                  <p class="text-justify"> Typing courses are offered through certificate programs, but they can also be offered in some associate's or bachelor's degree programs that offer office technology or administration</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3><a href="">MS-CIT</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="">KLiC DIPLOMA</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="">Typing Course</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3><a href="">English Speaking Course</a></h3>
          </div>
        </div>
    </div>
  </div>
  </section><!-- End Features Section -->
  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <!--<h2>Courses</h2>-->
        <p style="text-align: center;">Popular Courses</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>MS-CIT</h4>
                <p class="price"> RS 4000</p>
              </div>

              <h3><a href="course-details.html">MS-CIT</a></h3>
              <p>MS-CIT is an Information Technology (IT) literacy course started by MKCL.
                  It has been formulated to impart important basics of computers and the Internet. 
                  This course comprises of reading and understanding the basics of computer, hands-on practice sessions.
              </p>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>KLiC Diploma</h4>
                <p class="price">RS 12000</p>
              </div>

              <h3><a href="course-details.html">KLiC Diploma</a></h3>
              <p>Learners can take admission for KLiC Courses in any KLiC/MS-CIT ALC of their choice. Those learners who have separately completed either 4 or 5 or 6 KLiC Courses will be eligible for KLiC/ KLiC+/KLiC++ Diploma Certificate.</p>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="course-item">
            <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Typing Course</h4>
                <p class="price">RS 5000</p>
              </div>

              <h3><a href="course-details.html">Typing Course</a></h3>
              <p>In general, these courses cover typing accuracy, speed, special keyboard functions, and transcription techniques.</p>
              
            </div>
          </div>
        </div> <!-- End Course Item-->

      </div>

    </div>
  </section><!-- End Popular Courses Section -->
  <app-footer></app-footer>